<div class='pure-g'>
	<form class='pure-u-1-2 pure-form pure-form-aligned' id='admin-login' ng-submit="login()">
		<div class='pure-form-control'>
			<label for='email'>Email</label>
			<input type="email" name="email" ng-model='email'>
		</div>
		<div class='pure-form-control'>
			<label for='password'>Password</label>
			<input type="password" name="password" ng-model='password'>
		</div>
		<div class='pure-controls'>
			<input class='pure-button pure-button-primary' type="submit" value="Login">
		</div>
	</form>
</div>