<div class='pure-g'>
	<div ng-controller='ordersController' class='pure-u-1 pure-g ng-init: dashboard(displayedOrders)'>
		<h3 class='pure-u-3-4'>Orders</h3>
		<table class='pure-table pure-table-striped pure-table-horizontal pure-u-3-4'>
			<thead>
				<tr>
					<td>Customer</td>
					<td>Address</td>
					<td>Email</td>
					<td>Delivery Date</td>
					<td>Delivery Time</td>
					<td>Product</td>
					<td>Quantity</td>
					<td>Total Price</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='order in orders'>
					<td>{{ order.first_name }} {{order.last_name}}</td>
					<td>
						<p>{{ order.address.street1 }}</p>
						<p>{{ order.address.street2 }}</p>
						<p>{{ order.address.city }}, {{ order.address.state }} {{ order.address.zip }}</p>
					</td>
					<td>{{order.receipt_email }}</td>
					<td>{{ order.delivery_date }}</td>
					<td>{{ order.delivery_time }}</td>
					<td>{{ order.product }}</td>
					<td>{{ order.quantity }} oz.</td>
					<td>{{ order.quantity * 2.99 }}</td>
				</tr>
			</tbody>
		</table>
		<button class='pure-u-1-4 pure-button' ng-click='dashboard(displayedOrders)'>Show More</button>
		<h3 class='pure-u-3-4'>Products</h3>
		<div class='pure-u-1-4'>
			<button class='pure-button pure-button-primary'>+</button>
		</div>
		<table class='pure-table pure-table-striped'>
		</table>
	</div>
</div>